.tools {
  border-bottom: 1px solid #222;
  padding: 5px 0 10px 0;
}
.controls {
  background-color: #0E6BA5;
}
.spacer {
  padding-left: 34px;
}
.secondaryTools a {
  display: inline-flex;
}
.tools a {
  margin-left: 10px;
}
.tools a.borderedTool {
  position: relative;
}
.tools .primaryTools, .tools .actions {
  float: left;
}
.tools .actions {
  padding-left: 50px;
}
.tools .secondaryTools {
  height: 24px;
  clear: both;
}
.labels span {
  margin-left: 10px;
  width: 24px;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  color: #FDCB2F;
}
.selected.tool {
  background-color: #fd9f01 !important;
}

.btn-primary {
  background-color: #1f325c;
  border-color: #1f325c;
  color: #fff;
  font-size: 18px;
}
.btn-secondary {
  color: #fff;
  background-color: #ffb200;
  border-color: #ffb200;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.btn {
  font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 600;
  text-transform: uppercase;
}
.primaryTools a:hover, .secondaryTools a:hover:not([id*=color]), .actions a:hover {
  background-color: lightgray !important;
}
.primaryTools a:hover, .secondaryTools a:hover, .actions a:hover {
  cursor: pointer;
}
.actions a {
  padding-top: 5px;
}
.literally.core * {
  clear: both;
}
.vc-compact {
  position: absolute;
  z-index: 1;
  width: 245px !important;
}
.pointerDefault {
  cursor: auto;
}
.pointerCross {
  cursor: crosshair;
}
.pointerSmall {
  cursor: url(../../assets/small.png), auto;
}
.pointerMedium {
  cursor: url(../../assets/medium.png), auto;
}
.pointerBig {
  cursor: url(../../assets/big.png), auto;
}
#tool-dashLine {
  background: url(../../assets/dashed-line.png) bottom center no-repeat;
  background-size: 100% 100%;
}
#tool-arrowLine {
  background: url(../../assets/arrow.png) bottom center no-repeat;
  background-size: 100% 100%;
}
#tool-colorStroke {
  background-color: rgb(0, 0, 0);
}

.w100p { width: 100%; }
.w50p  { width: 50%; }
.w33p  { width: 33.3%; }
.w25p  { width: 25%; }
.w20p  { width: 20%; }