.tools {
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
}
.controls {
  padding-top: 5px;
  background-color: #f0f0f0;
}
.spacer {
  padding-left: 34px;
}
.secondaryTools a {
  display: inline-flex;
}
.tools a {
  margin-left: 10px;
}
.tools a.borderedTool {
  position: relative;
}
.tools .primaryTools, .tools .actions {
  float: left;
}
.tools .actions {
  width: 30%;
  padding-left: 50px;
  padding-top: 5px;
}
.tools .secondaryTools {
  height: 24px;
  clear: both;
}
.labels span {
  margin-left: 10px;
  width: 24px;
  font-size: 10px;
  display: inline-block;
  text-align: center;
}
.selected.tool {
  background-color: #fd9f01 !important;
}

.btn-primary {
  background-color: #1f325c;
  border-color: #1f325c;
  color: #fff;
  font-size: 18px;
}
.btn-secondary {
  color: #fff;
  background-color: #ffb200;
  border-color: #ffb200;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.btn {
  font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 600;
  text-transform: uppercase;
}
.primaryTools a:hover, .secondaryTools a:hover {
  background-color: lightgray !important;
}
.primaryTools a:hover, .secondaryTools a:hover, .actions a:hover {
  cursor: pointer;
}
.literally.core * {
  clear: both;
  background-color: white;
}
.vc-compact {
  position: absolute;
  z-index: 1;
}
.tabs {
  border-bottom: 1px solid lightgray;
  height: 22px;
}
.tabs [id*=tab] {
  float: left;
  height: inherit;
  text-align: center;
}
.tabs .tabList {
  float: left;
}
.tabs .tabList .active {
  background-color: #aef;
}
.tabs #addTab {
  float: left;
  text-align: center;
  width: 22px;
  height: inherit;
  border-left: 1px solid lightgray;
}

.w100p { width: 100%; }
.w50p  { width: 50%; }
.w33p  { width: 33.3%; }
.w25p  { width: 25%; }
.w20p  { width: 20%; }